.teamselection-page {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

.selectable-riders-table-wrapper {
    width: 100%;
}

div.selectable-riders-table-wrapper
    div.rdt_TableRow
    div.rdt_TableCell:last-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 0;
}

.teamselect-rider-button {
    border: none;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 2.7rem;
}

.teamselect-rider-button.select {
    background-color: #166534;
}

.teamselect-rider-button.select:hover {
    background-color: #15803d;
}

.teamselect-rider-button.deselect {
    background-color: #7f1d1d;
}

.teamselect-rider-button.deselect:hover {
    background-color: #b91c1c;
}
