.navbar {
  align-items: center;
  background-color: #1e293b; /*gray-700*/
  color: #e5e7eb;
  column-gap: 1rem;
  display: flex;
  font-size: 1.125rem;
  height: 3.5rem;
  justify-content: left;
  line-height: 1.75rem;
  overflow: auto;
  padding: 0 0.5rem;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: 50;
}

.navbar.mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar.desktop {
    display: none;
  }
  .navbar.mobile {
    display: flex;
  }
}

.navbar_link {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  white-space: nowrap;
}

/* The links in the navbar */
.navbar_link:hover {
  background-color: black; /*gray-900*/
  color: white;
  border-radius: 0.5rem;
  transition: 200ms;
}

/* The container <div> - needed to position the dropdown content */
.navbar_dropdown-content {
  background-color: #1f2937; /*gray-800*/
  color: #9ca3af; /*gray-400*/
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: fixed;
  top: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar_dropdown_item {
  border-top: 1px solid #6e737a; /*gray-600*/
  padding: 4px;
  padding-right: 8px;
  text-decoration: none;
}

.navbar_dropdown_item:hover {
  background-color: #6e737a; /*gray-600*/
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  transition: 0.3s;
}
